@{
    ViewData["Title"] = "Politica de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<!--Escreva uma politica de privacidade-->
<p>Esta é a política de privacidade do Adm Personal Manager. Estamos comprometidos em proteger a privacidade dos nossos usuários e garantir que suas informações pessoais sejam tratadas de forma segura e responsável.</p>
<p>Coletamos informações pessoais, como nome, e-mail e telefone, apenas quando você as fornece voluntariamente ao se cadastrar ou entrar em contato conosco. Essas informações são usadas exclusivamente para fins de comunicação e melhoria dos nossos serviços.</p>
<p>Não compartilhamos suas informações pessoais com terceiros, exceto quando exigido por lei ou para proteger nossos direitos.</p>
<p>Utilizamos medidas de segurança adequadas para proteger suas informações pessoais contra acesso não autorizado, divulgação, alteração ou destruição.</p>
<p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Se desejar exercer esses direitos, entre em contato conosco através do e-mail fornecido no site.</p>
<p>Esta política de privacidade pode ser atualizada periodicamente. Recomendamos que você a revise regularmente para estar ciente de quaisquer alterações.</p>
<p>Se você tiver alguma dúvida ou preocupação sobre nossa política de privacidade, entre em contato conosco através do e-mail fornecido no site.</p>
<p>Obrigado por confiar no Adm Personal Manager. Estamos comprometidos em proteger sua privacidade e fornecer uma experiência segura e confiável.</p>
<p>Data de vigência: 1º de janeiro de 2025</p>
<p>Esta política de privacidade foi atualizada pela última vez em 1º de janeiro de 2025.</p>
<p>Se você tiver alguma dúvida ou preocupação sobre nossa política de privacidade, entre em contato conosco através do e-mail fornecido no site.</p>
<p>Obrigado por confiar no Adm Personal Manager. Estamos comprometidos em proteger sua privacidade e fornecer uma experiência segura e confiável.</p>

